= form_with model: @blog, local: true do |form|

  - if blog.errors.any?
    
    div#error_explanation
      h2
        => pluralize(@blog.errors.count, 'Error')
        | prohibited this post from being saved

      ul
        - @blog.errors.full_messages.each do |msg|
          li = msg

  div.field
    = form.label :title
    = form.text_field :title

  div.field
    = form.label :body
    = form.text_area :body

  div.actions
    = form.submit