p#notice
  = notice

h1
  | Blogs

table
  thead
    tr
      th
        | Title
      th
        | Body
      th colspan="4"

  tbody
    - @blogs.each do |blog|
      tr
        td = blog.title
        td = blog.body
        td = link_to blog.status, toggle_status_blog_path(blog)
        td = link_to 'Show', blog
        td = link_to 'Edit', edit_blog_path(blog)
        td = link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' }

br

=<> link_to 'New Blog', new_blog_path
=<> link_to 'Home', root_path
=<> link_to 'Portfolio', portfolios_path