= form_with :model => @portfolio_item, :local => true do |form|

  div.field
    = form.label :title
    br
    = form.text_field :title
  br

  div.field
    = form.label :subtitle
    br
    = form.text_field :subtitle
  br

  div.field
    = form.label :body
    br
    = form.text_area :body
  br

  div.field
    = form.submit
  br

= link_to 'Back', portfolios_path