= render 'navbar'
= render 'notice' if notice

hr

div
  h1
    | Editing
    =<> @portfolio_item.title  
    | Portfolio Item

  div
    = image_tag @portfolio_item.main_image
  
  br

= render 'form'