div
  = render 'navbar'
  br
  = render 'notice' if notice

hr

h1
  | Portfolios Index Page

div
  = link_to 'Create Portfolio-Item', new_portfolio_path

div
  - @portfolio_items.each do |portfolio_item|
    
    div
      p = link_to portfolio_item.title, portfolio_show_path(portfolio_item)
      p = portfolio_item.subtitle
      p = portfolio_item.body
      p = image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil?

      div
        span
          =<> link_to 'Show', portfolio_show_path(portfolio_item)
          =<> link_to 'Edit', portfolio_edit_path(portfolio_item)
          =<> link_to 'Delete', portfolio_path(portfolio_item), method: 'delete', data: { :confirm => 'Are you sure?' }
    hr
