= render 'navbar'
= render 'notice' if notice

hr

div
  h1
    | Title:
    =< @portfolio_item.title

  h2
    | Sub-title:
    =< @portfolio_item.subtitle

  div
    = image_tag @portfolio_item.main_image

    h3
      | Body:
      =< @portfolio_item.body

=<> link_to 'Back', portfolios_path
=<> link_to 'Edit', portfolio_edit_path(@portfolio_item)
=<> link_to 'Delete', portfolio_path(@portfolio_item), :method => 'delete', data: { :confirm => 'Are you sure?' }